<article class="character-wrapper">
    <div class="character-header">
        <img src="{{character.image}}" alt="Blue Diplomat">
        <div class="character-title">
            <h2>{{character.name}}</h2>
            <p>id: {{character.id}} - created {{character.created | date}}</p>
        </div>
    </div>
    <div class="character-description" data="card info">
        <div>
            <div class="text-wrapper" style="padding: 6px 0px;"><span>STATUS</span>
                <p>{{character.status}}</p>
            </div>
            <hr style="background: rgb(68, 68, 68);">
        </div>
        <div>
            <div class="text-wrapper" style="padding: 6px 0px;"><span>SPECIES</span>
                <p>{{character.species}}</p>
            </div>
            <hr style="background: rgb(68, 68, 68);">
        </div>
        <div>
            <div class="text-wrapper" style="padding: 6px 0px;"><span>GENDER</span>
                <p>{{character.gender}}</p>
            </div>
            <hr style="background: rgb(68, 68, 68);">
        </div>
        <div>
            <div class="text-wrapper" style="padding: 6px 0px;"><span>ORIGIN</span>
                <p>{{character.origin?.name}}</p>
            </div>
            <hr style="background: rgb(68, 68, 68);">
        </div>
        <div>
            <div class="text-wrapper" style="padding: 6px 0px;"><span>LAST LOCATION</span>
                <p>{{character.location?.name}}</p>
            </div>
        </div>
        <div>
            <a [routerLink]="[character.id, 'details']">Details</a>
        </div>
    </div>
</article>